.card{
    margin-bottom: 25px;
    border-color: #6c757d;
}

.card-header{
    background-color: #6c757d;
    color: white;
}

.divider{
    border-color: #0d6efd;
    background-color: #0d6efd;
    text-align: center;
}

h1{
    padding-top: 25px;
    padding-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #site-title {
    font-size: 80px;
    background-color: crimson;
    color: white;
    margin: 0%;
    text-shadow: 2px 2px grey;
  }